.clear-button {
  background-color: #C5A044;
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.clear-button:hover {
  background-color: #C5A044;
}

.clear-button:disabled,
button[disabled] {
  cursor: not-allowed;
  background-color: #bab7a4;
  color: #666666;
}
