.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-element {
  background-color: #C5B07A;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.drag-and-drop {
  background-color: transparent;
  color: grey;
  list-style-type: none;
  border-style: groove;
  border-width: 2px;
}
